<%- include('../includes/head.ejs') %>
  </head>
  <body
    class="bodyBackground"
  >
  <%- include('../includes/navigation.ejs') %>
    <form action="/admin/add-product" method="POST" class="p-8 flex justify-center align-bottom">
      <div class="grid grid-cols-1 gap-8 p-8 rounded-lg">
        <div class="form-row">
          <label class="form-label" for="title">Title</label>
          <input
            type="text"
            name="title"
            class= "form-input"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="imageUrl">Image URL</label>
          <input
            type="text"
            name="imageUrl"
            class= "form-input"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="price">Price</label>
          <input
            type="number"
            name="price"
            class= "form-input"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="description">Description</label>
          <textarea
            name="description"
            rows="5"
            class= "form-input">
          </textarea>
        </div>

        <button
          type="submit"
          class="form-btn-primary"
          >
          Add Product
        </button>
        <button
          type="cancel"
          class="form-btn-secondary"
          >
          Cancel
        </button>
      </div>
    </form>
  <%- include('../includes/end.ejs') %>
