<form action="/cart" method="post">
    <button type="submit" class="form-action-btn-primary">
        Add to Cart
    </button>
    <input type="hidden" name="productId" value="<%= prods.id%>">
</form>
