@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .nav-menu-item {
    @apply text-sm sm:text-xs sm:p-2 p-4 rounded-lg bg-sky-800 text-purple-300;
  }

  .nav-menu-item.active {
    @apply text-white bg-sky-500;
  }

  .bodyBackground {
    /* from-pink-300 via-purple-300 to-indigo-400 content-center; */
    @apply font-latoLightItalic items-center antialiased bg-slate-600;
  }

  .form-single-column-flex {
    @apply flex flex-col gap-8 p-8 sm:p-2 rounded-lg w-screen place-items-center;
  }

  .form-single-column-flex-row {
    @apply w-3/5 sm:w-11/12 md:w-2/5 rounded-lg;
  }

  .form-group-container-items {
    @apply flex flex-row-reverse p-2 gap-2;
  }

  .form-elements-background {
    @apply bg-gray-800 hover:bg-gray-700;
  }

  .form-row-with-column-attribute {
    @apply flex flex-col p-4 grow rounded-lg shadow-lg;
  }

  .form-row {
    @apply form-row-with-column-attribute form-elements-background;
  }

  .form-label {
    @apply font-latoItalic text-gray-400;
  }

  .form-label-description {
    @apply font-latoRegular text-xl text-gray-300;
  }

  .form-card-image {
    @apply object-scale-down rounded-t-lg h-64 md:h-auto sm:w-auto md:rounded-none md:rounded-l-lg;
  }

  .remove-shadow {
    @apply shadow-none;
  }

  .form-input {
    @apply text-gray-300 border-solid border-b bg-transparent;
  }

  .form-btn-primary {
    @apply justify-center grow p-4 hover:bg-sky-500 bg-sky-600 rounded-lg shadow-2xl text-sky-900 font-latoItalic;
  }

  .form-btn-secondary {
    @apply justify-center grow p-4 hover:bg-sky-800 bg-sky-800 rounded-lg shadow-2xl text-sky-500  font-latoItalic border-2 border-sky-500;
  }

  .form-action-btn-primary {
    @apply form-btn-primary font-latoBold flex-grow-0 p-2 text-xs h-8;
  }

  .form-action-btn-secondary {
    @apply form-btn-secondary font-latoBold flex-grow-0 p-2 text-xs h-8;
  }
}

@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "LatoBlackItalic";
  src: url("../fonts/Lato/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/Lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "LatoThin";
  src: url("../fonts/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: "LatoThinItalic";
  src: url("../fonts/Lato/Lato-ThinItalic.ttf");
}
