@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .nav-menu-item {
    @apply text-sm p-2 rounded-lg bg-sky-900 text-purple-300;
  }

  .nav-menu-item.active {
    @apply text-white bg-sky-500;
  }

  .bodyBackground {
    @apply font-latoLightItalic items-center antialiased bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 content-center;
  }
}

@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "LatoBlackItalic";
  src: url("../fonts/Lato/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/Lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "LatoThin";
  src: url("../fonts/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: "LatoThinItalic";
  src: url("../fonts/Lato/Lato-ThinItalic.ttf");
}
